/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div.clear {
    clear:both;
}

/* HOME */
html {
    -webkit-text-size-adjust: none;
}

body { 
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	background: #fffef8 url(squairy_light.png) repeat;
	color: #9c9c9c;
	font-size: 0.75em;
	background-color: white;
}

a {
	text-decoration: none;
	color: #ff0078;
}

a:hover {
	color: #444444;
}

h1 {
	font-size: 20pt;
	margin-top: 10px;
	margin-bottom: 5px;
}

#top-border,#bottom-border,#left-border,#right-border {
	position: fixed; z-index: 10; background: #f5f5f5; display: block; z-index:99;
}

#left-border,#right-border{ top:0;bottom:0; width:15px} 
#left-border{left:0} #right-border{right:0} 
#top-border,#bottom-border{ left:0;right:0; height:15px} 
#top-border{top:0} #bottom-border{bottom:0}

#conteneur-galerie { 
	margin-left: auto; 
	margin-right: auto; 
	width: 950px;
	padding: 20px;
}

.intro {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	margin-top: 50px;
	margin-bottom: 40px;
	font-size: 1.3em;
	line-height: 1.3em;
	color: #7e7e7e;
	width: 825px;
}

.projet-titre {
	display: block;
	color: #56d7d9;
	font-family: "proxima-nova-condensed",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.8em;
	margin-bottom: 5px;
}

.projet-clients {
	display: block;
	color: #56d7d9;
	font-family: "proxima-nova-condensed",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.2em;
}

.projet-description {
	display: block;
	color: #a0a0a0;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1em;
	margin-top: 20px;
}

.projet-description a{
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #a0a0a0;
	text-decoration: none;
}

.projet-description a:hover{
	color: #56d7d9;
}

#images img {
	margin: 0 0 40px 0;
}

#menu_galerie {
	float: right;
	width: 85px;
	height: 30px;
	margin-top: 50px;
}

#menu_galerie img{
	padding-left: 2px;
	float: right;
}

#footer {
	text-align: center;
	font-size: 1em;
	color: #cfcfcf;
	height: 30px;
	margin-top: 30px;
}

#header_light {
	width: 100%;
	height: 145px;
	background: #f5f5f5;
}

#header_light img {
	display: block; 
	margin-top: -20px;
	height: 145px;
	width: 225px;
	float: left;
}

#container { 
	position:relative;
	margin-left: auto; 
	margin-right: auto; 
	width: 950px;
	padding: 20px;
}

#menu {
	float: right;
	width: 550px;
	margin-top: 71px;
}

#menu li{
	float: right;
	margin-left: 30px;
	color: #ff0078;
	font-family: "proximF-nova-condensed",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	height: 38px
}

.introduction{
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.3em;
	line-height: 1.4em;	
	color: #a0a0a0;
	width: 800px;
	margin: 45px 0 20px 0;
}

.intro_index a{
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #a0a0a0;
	text-decoration: none;
}

.intro_index a:hover{
	color: #56d7d9;
}


#social {
	float: right;
	width: 150px;
	height: 33px;
}

#social a{
	padding-left: 6px;
	float: right;
}

#fb {
    width: 25px; height: 25px;
    background: url('forweb/facebook-f.png') no-repeat left top;
    }
#fb:hover { background-position: -25px 0px }

#linkedin {
    width: 25px; height: 25px;
    background: url('forweb/linkedin-l.png') no-repeat left top;
    }
#linkedin:hover { background-position: -25px 0px }


#cutacross{
	height: 2px;
	width: 950px;
	background-color: #bbbbbb;
	float: left;
}

#filtre {
	display: block;
	margin: 15px 0 0 0;
	height: 22px;
	width: 960px;
	z-index: 10000;
    position: absolute;
}

#filtre a {
	color: #a0a0a0;
	font-family: "proxima-nova-condensed",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.2em;
}

#filtre a:hover {
	color: #56d7d9;
}

#filterOptions, #filterOptions ul { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}

#filterOptions a {
	display: block;
	padding: 4px 0 0 8px;
}

.all {
	background-image: url('images/menu-arrow.gif');
	background-repeat:no-repeat;
	background-position: right top; 
	width: 100px;
}

#filterOptions li { 
	float: left;
	width: 110px;
	height: 22px;
	background: #f5f5f5;
}

#filterOptions li ul { 
	position: absolute;
	background: #f5f5f5;
	width: 110px;
	height: 22px;
	left: -999em; 
	margin-top: 1px;
}

#filterOptions li:hover ul, #filterOptions li.sfhover ul { 
	left: auto;
}

.ourHolder li{
	display: inline-table;
	height: 300px;
	margin: 0 15px 15px 0;	
	display: block;
}

#thumbnails {
	margin: 30px 0 0 0;
    z-index: 5;
	width: 650px;
	float: left;
}

#sidetext {
	position: relative;
	margin: 30px 0 0 0;
	width: 300px;
	float: left;
}

#sidetext p {
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 1.5em;
	margin: 0 0 10px 0
}


#sidetext span {
	font-size: 2em;
	font-style: strong;
	margin: 0 0 5px 0;
}

.item {
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.item .mask, .item .content {
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.item img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
}

.item a{ 
    opacity:1; 
	color: #ffffff;
}

.item h2 {
	font-family: "proxima-nova-condensed",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.6em;
	margin-top: 120px;
}

.item p {
	font-size: 1.3em;
	margin-top: 5px;
	font-family: "proxima-nova-condensed",sans-serif;
	font-style: normal;
	font-weight: 400;
}
   
.item:hover .mask { 
    opacity:0.9; 
}   

.item .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(255,0,120, 0.95);
   -webkit-transition: all 0.7s ease-in-out;
   -webkit-transform: translateZ(0);
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.4s ease-in-out;
}
